/**
HEADER
 */
#projectListDropdownText{
  color: #a1a1aa;
  font-weight:700;
}
#projectListDropDown{
  li{
    margin: 5px 0;
    &.active{
      border-top: solid 1px #cf2e2e;
    }
  }
  a{
    font-weight:700;
    background-color: transparent;
    color: #cf2e2e;
    border-radius: 30px;
    border: solid 1px transparent;
    &:hover{
      border-radius: 40px;
      transition: 400ms ease;
      border: solid 1px #ededed;
      background-color: rgba(239, 239, 239, 0.74);
    }

    &.active{

      font-weight:400;
      background-color: transparent;
      color: #a1a1aa;
      margin: 10px 0 5px 0;
      &:hover{
        border: solid 1px transparent;
      }
    }
  }
}


header {
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  height: 75px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1050 !important;
  color: #cf2e2e;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  > .logo-text{
    > a {
        font-weight: 900;
        font-size: 1.5rem;
        color: #cf2e2e;
    }
  }
  #header-right-links {
    color: #a1a1aa;
    margin: 5px;

    > li {
      padding: 0 5px;
    }

    > #github-icon-header,  > #search-icon-header {
      svg {
        width: 25px;
        height: 25px;
      }
    }

  }

  .navbar-toggler, .logo-text {
    margin-left: 25px;
  }

}

