code[class*="language-"], pre[class*="language-"] {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
  font-size: 1em;
  text-shadow: none !important;
  span{
    background:none !important;
  }
}


pre[class*="language-"], :not(pre) > code[class*="language-"] {
  background: black;
  border: 1px solid #5a2f1b;
  //margin:25px 0 50px 0;
  padding: 0 10px 0 15px;
  text-align: left;
}

pre[class*="language-"] {
  overflow: hidden;
  border-radius: 15px;
  text-shadow: none !important;
  padding: 1.2em;
}



#main-content {
  text-align: left !important;



  hr {
    border-color: #18181BFF;
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  p.group-title {
    font-weight: 700;
    color: #cf2e2e;
    font-size: var(--size-menu-title);
    line-height: 1.5rem;
    margin-bottom: 15px;
  }

  h1 {
    font-weight: 600;
    color: #18181BFF;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left !important;
  }

  h2 {
    font-weight: 600;
    color: #18181BFF;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }

  h3 {
    font-weight: 600;
    color: #18181BFF;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }


  p {
    margin-bottom: 1.25em;
    > img{
      max-width: 100%;
      height: auto;
    }
  }
  a {
    font-weight: 600;
    color: #18181BFF;
    text-decoration: underline;
    text-decoration-color: #cf2e2e;

    :hover {
      color: #cf2e2e;
    }
  }

}
