{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <!-- Header -->
    {% include 'AutoMarkDoc/header.html.twig' %}
    <!-- Jumbotron (homepage) -->
    {% if jumbotron %}
        {% include 'AutoMarkDoc/jumbotron.html.twig' %}
    {% endif %}
    <div class="container text-center">
        <div class="row align-items-start">
            <!-- Left menu -->
            {% include 'AutoMarkDoc/left_menu.html.twig' %}
            <!-- Main content -->
            {% include 'AutoMarkDoc/main_content.html.twig' %}
            <!-- Right headers index -->
            {% include 'AutoMarkDoc/right_index.html.twig' %}
        </div>
    </div>
    {% include 'AutoMarkDoc/search.html.twig' %}
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
{% endblock %}
