<main class="bg-white p-4 blurrable"
      id="main-content"
      data-bs-spy="scroll"
      data-bs-target="#right-sidebar"
      data-bs-offset="0"
      data-bs-smooth-scroll="true"
      tabindex="0"
      data-controller="image-modal"
>
    <p class="group-title">{{ title }}</p>
    {{ content | raw }}
</main>